<Jumbo>
  <h2> Add Location Rentals</h2>
  <p>
    Greetings! We are very glad to have you here. 
    This platform provides you with the opportunity to showcase your apartments 
    to a wide audience. To get started, all you need to do is to fill 
    out a simple form about your property. By listing your apartments, 
    you connect with potential tenants seeking the unique comfort and
     aesthetics that your apartments offer. Thank you for choosing our 
     service, we can't wait to help you find great tenants.
  </p>

  <CardRental::CardRental/>
  
</Jumbo>